.DS_Store
**/.DStore

vtrack-os/\.classpath
vtrack-os/\.settings
vtrack-os/\.metadata

vtrack-os/\.settings/org\.eclipse\.wst\.common\.project\.facet\.core\.xml

./tomcat
workspace
node_modules
target
target_test-classes
bin
vtrack-os/WebContent/WEB-INF/lib
vtrack-os/WebContent/WEB-INF/classes

.settings

Servers

*.class

vtrack-os/.DS_Store

vtrack-os/WebContent/.DS_Store

vtrack-os/WebContent/list/

.env

.vscode/

.metadata/

vtrack-os/.externalToolBuilders/

vtrack-os/.project

.classpath

.dccache

.factorypath

.project

.nenv

**/.nenv

**/.node_env



.externalToolBuilders/

