blockquote{
	padding:0px !important;
	border:0px !important;
	margin:0px !important;
	text-align:center !important;
	font-size: 13px !important;
}
blockquote p {
	color: black !important;
	
}
.toastui-editor-toolbar-icons.quote {
	background-position-x: -149px !important;
    background-position-y: -100px !important;
}
p img {
  display: block;
  margin-left: auto !important;
  margin-right: auto !important;
}
