blockquote{
	padding:0px !important;
	border:0px !important;
	margin:0px !important;
	text-align:center !important;
	font-size: 13px !important;
}
blockquote p {
	color: black !important;
	
}
.toastui-editor-toolbar-icons.quote {
	background-position-x: -149px !important;
    background-position-y: -100px !important;
}
p img {
  display: block;
  margin-left: auto !important;
  margin-right: auto !important;
}

/* Image Upload Overlay */
.editor-upload-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.editor-upload-spinner {
  text-align: center;
  color: white;
}

.spinner-icon {
  width: 50px;
  height: 50px;
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid white;
  border-radius: 50%;
  margin: 0 auto 15px;
  animation: spin 1s linear infinite;
}

.spinner-text {
  font-size: 16px;
  font-weight: 500;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
