<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>Faction</display-name>

	<filter-mapping>
		<filter-name>corsFilter</filter-name>
		<url-pattern>/oauth/*</url-pattern>
	</filter-mapping>
	
	
	<filter-mapping>
		<filter-name>callbackFilter</filter-name>
		<url-pattern>/oauth/callback</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<filter>
		<filter-name>callbackFilter</filter-name>
		<filter-class>org.pac4j.jee.filter.CallbackFilter</filter-class>
		<init-param>
			<param-name>defaultUrl</param-name>
			<param-value>/oauth</param-value>
		</init-param>
		<init-param>
			<param-name>renewSession</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>multiProfile</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	
	
	<filter-mapping>
		<filter-name>OidcFilter</filter-name>
		<url-pattern>/oauth/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
	</filter-mapping>
	<filter>
		<filter-name>OidcFilter</filter-name>
		<filter-class>com.fuse.authentication.oauth.SecurityFilterWrapper</filter-class>
		<init-param>
			<param-name>configFactory</param-name>
			<param-value>com.fuse.authentication.oauth.SecurityConfigFactory</param-value>
		</init-param>
		<init-param>
			<param-name>clients</param-name>
			<param-value>oidcClient</param-value>
		</init-param>
		<init-param>
			<param-name>authorizers</param-name>
			<param-value>isAuthenticated</param-value>
		</init-param>
	</filter>
	
	<filter-mapping>
		<filter-name>corsFilter</filter-name>
		<url-pattern>/saml2/*</url-pattern>
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>saml2Callback</filter-name>
		<url-pattern>/saml2/callback</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<filter>
		<filter-name>saml2Callback</filter-name>
		<filter-class>org.pac4j.jee.filter.CallbackFilter</filter-class>
		<init-param>
			<param-name>defaultUrl</param-name>
			<param-value>/saml2</param-value>
		</init-param>
		<init-param>
			<param-name>renewSession</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>multiProfile</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	
	<filter-mapping>
		<filter-name>Saml2SecurityFilter</filter-name>
		<url-pattern>/saml2/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
	</filter-mapping>
	<filter>
		<filter-name>Saml2SecurityFilter</filter-name>
		<filter-class>com.fuse.authentication.oauth.SecurityFilterWrapper</filter-class>
		<init-param>
			<param-name>configFactory</param-name>
			<param-value>com.fuse.authentication.oauth.SecurityConfigFactory</param-value>
		</init-param>
		<init-param>
			<param-name>clients</param-name>
			<param-value>saml2Client</param-value>
		</init-param>
		<init-param>
			<param-name>authorizers</param-name>
			<param-value>isAuthenticated</param-value>
		</init-param>
	</filter>



	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.filter.StrutsPrepareAndExecuteFilter</filter-class>
		 <init-param>
        	<param-name>struts.i18n.encoding</param-name>
        	<param-value>UTF-8</param-value>
    	</init-param>
	</filter>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>



	<session-config>
		<session-timeout>60</session-timeout>
	</session-config>
	<mime-mapping>
		<extension>js</extension>
		<mime-type>application/javascript;charset=UTF-8</mime-type>
	</mime-mapping>
	<servlet>
		<servlet-name>REST</servlet-name>
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>jersey.config.server.provider.packages</param-name>
			<param-value>
              io.swagger.jaxrs.listing,
             	com.fuse.api
      </param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>SwaggerBootstrap</servlet-name>
		<servlet-class>com.fuse.api.Bootstrap</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>REST</servlet-name>
		<url-pattern>/api/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>
    	</description>
		<display-name>test</display-name>
		<servlet-name>test</servlet-name>
		<servlet-class>com.fuse.servlets.test</servlet-class>
	</servlet>
	<servlet>
		<description>
    	</description>
		<display-name>getAssessments</display-name>
		<servlet-name>getAssessments</servlet-name>
		<servlet-class>com.fuse.servlets.getAssessments</servlet-class>
	</servlet>
	<servlet>
		<description>
    	</description>
		<display-name>getVerifications</display-name>
		<servlet-name>getVerifications</servlet-name>
		<servlet-class>com.fuse.servlets.getVerifications</servlet-class>
	</servlet>
	<servlet>
		<description>
    	</description>
		<display-name>addVuln</display-name>
		<servlet-name>addVuln</servlet-name>
		<servlet-class>com.fuse.servlets.addVuln</servlet-class>
	</servlet>
	<servlet>
		<description>
    	</description>
		<display-name>getImage</display-name>
		<servlet-name>getImage</servlet-name>
		<servlet-class>com.fuse.servlets.getImage</servlet-class>
	</servlet>
	<servlet>
		<description>
    	</description>
		<display-name>Report.pdf</display-name>
		<servlet-name>Report.pdf</servlet-name>
		<servlet-class>com.fuse.servlets.getReport</servlet-class>
	</servlet>
	<servlet>
		<description>
    	</description>
		<display-name>CMSImage</display-name>
		<servlet-name>CMSImage</servlet-name>
		<servlet-class>com.fuse.servlets.getCMSImage</servlet-class>
	</servlet>
	<servlet>
		<description>
    	</description>
		<display-name>status</display-name>
		<servlet-name>status</servlet-name>
		<servlet-class>com.fuse.servlets.getStatus</servlet-class>
	</servlet>
	<servlet>
		<description>
    	</description>
		<display-name>logout</display-name>
		<servlet-name>logout</servlet-name>
		<servlet-class>com.fuse.servlets.logout</servlet-class>
	</servlet>
	<servlet>
		<description>
    	</description>
		<display-name>CurrentAssessment</display-name>
		<servlet-name>CurrentAssessment</servlet-name>
		<servlet-class>com.fuse.api.CurrentAssessment</servlet-class>
	</servlet>
	<servlet>
		<description>
    	</description>
		<display-name>InsertVuln</display-name>
		<servlet-name>InsertVuln</servlet-name>
		<servlet-class>com.fuse.api.InsertVuln</servlet-class>
	</servlet>
	<servlet>
		<description>
    	</description>
		<display-name>AddStep</display-name>
		<servlet-name>AddStep</servlet-name>
		<servlet-class>com.fuse.api.AddStep</servlet-class>
	</servlet>
	<servlet>
		<description>
    	</description>
		<display-name>YourQueue</display-name>
		<servlet-name>YourQueue</servlet-name>
		<servlet-class>com.fuse.api.YourQueue</servlet-class>
	</servlet>
	<servlet>
		<description>
    	</description>
		<display-name>fileUpload</display-name>
		<servlet-name>fileUpload</servlet-name>
		<servlet-class>com.fuse.servlets.fileUpload</servlet-class>
	</servlet>
	<servlet>
		<description>
    	</description>
		<display-name>fileUploadV</display-name>
		<servlet-name>fileUploadV</servlet-name>
		<servlet-class>com.fuse.servlets.fileUploadV</servlet-class>
	</servlet>
	<servlet>
		<description>
    	</description>
		<display-name>rd_styles</display-name>
		<servlet-name>rd_styles</servlet-name>
		<servlet-class>com.fuse.servlets.rd_styles</servlet-class>
	</servlet>
	<servlet>
		<description>
    	</description>
		<display-name>applicationInventory</display-name>
		<servlet-name>applicationInventory</servlet-name>
		<servlet-class>com.fuse.servlets.applicationInventory</servlet-class>
	</servlet>
	<servlet>
		<description>
    	</description>
		<display-name>profileImage</display-name>
		<servlet-name>profileImage</servlet-name>
		<servlet-class>com.fuse.servlets.profileImage</servlet-class>
	</servlet>
	<servlet>
		<description>
    	</description>
		<display-name>uploadAssessment</display-name>
		<servlet-name>uploadAssessment</servlet-name>
		<servlet-class>com.fuse.servlets.uploadAssessment</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>test</servlet-name>
		<url-pattern>/service/test</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>getAssessments</servlet-name>
		<url-pattern>/service/getAssessments</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>getVerifications</servlet-name>
		<url-pattern>/service/getVerifications</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>addVuln</servlet-name>
		<url-pattern>/service/addVuln</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>getImage</servlet-name>
		<url-pattern>/service/getImage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Report.pdf</servlet-name>
		<url-pattern>/service/Report.pdf</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CMSImage</servlet-name>
		<url-pattern>/service/CMSImage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>status</servlet-name>
		<url-pattern>/service/status</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>logout</servlet-name>
		<url-pattern>/service/logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CurrentAssessment</servlet-name>
		<url-pattern>/CurrentAssessment</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InsertVuln</servlet-name>
		<url-pattern>/InsertVuln</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddStep</servlet-name>
		<url-pattern>/AddStep</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>YourQueue</servlet-name>
		<url-pattern>/YourQueue</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>fileUpload</servlet-name>
		<url-pattern>/service/fileUpload</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>fileUploadV</servlet-name>
		<url-pattern>/service/fileUploadV</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>rd_styles</servlet-name>
		<url-pattern>/service/rd_styles.css</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>applicationInventory</servlet-name>
		<url-pattern>/service/applicationInventory</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>profileImage</servlet-name>
		<url-pattern>/service/profileImage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>uploadAssessment</servlet-name>
		<url-pattern>/service/uploadAssessment</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<security-constraint>
		<display-name>No direct JSP access</display-name>
		<web-resource-collection>
			<web-resource-name>No-JSP</web-resource-name>
			<url-pattern>*.jsp</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>no-users</role-name>
		</auth-constraint>
	</security-constraint>
	<security-role>
		<description>Don't assign users to this role</description>
		<role-name>no-users</role-name>
	</security-role>

</web-app>